
  @import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,600;1,800&family=Poppins:wght@300;700&display=swap');

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    font-family: 'Poppins', sans-seri;
    background: linear-gradient(180deg,rgb(91, 90, 107)0%,rgb(138, 138, 195)100%);
    min-height: 100vh;
    padding: 50px 0;
  }

  h1{
    color: #fff;
    font-size: 36px;
  }

  p{
    color: #fff;
    font-size: 18px;
  }

  .container{
    max-width: 1000px;
    text-align: center;
    margin: auto;
  }
  .btn_wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
  }
  .btn_wrap h3{
    color: #fff;
    font-weight: 300;
  }

  .btn_wrap .switch{

    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin: 0 10px;

  }

  .btn_wrap .slider{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border-radius: 100PX;
    transition: .45;
    cursor: pointer;
  }
  .btn_wrap .slider:before{
    content: "";
    position: absolute;
    left: 4PX;
    bottom: 4px;
    width: 26px;
    height: 26px;
    border-radius: 100px;
    background: #242336;
    transition: .4s;
  }

  .btn_wrap input:checked+.slider::before{
    transform:translateX(26px);
  }

  .content{
    margin-top: 20px;

  }

  .anually{
    display: none;
  }

  .pricing-table{
    position: relative;
    margin: 15px;
    padding: 25px;
    border-radius: 5px;
    border: 1px solid lightgrey;
    width: 30%;
    display: inline-block;
    color: #fff;
    overflow: hidden;
    box-shadow: 0px 10px 8px -2px rgba(0, 0, 0, 0.54);
  }

  .pricing-table:nth-child(1){
    background: linear-gradient(180deg,rgba(245,83,89,1)0% ,rgba(241,186,59,1)100%);
  }

  .pricing-table:nth-child(2){
    background: linear-gradient(180deg,rgba(64,144,196,1)0% ,rgba(172,64,34,1)100%);
  }

  .pricing-table:nth-child(3){
    background: linear-gradient(180deg,rgba(136,244,136,1)0% ,rgba(7,196,177,1)100%);
  }

  .pricing-table:hover{
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(209, 180, 180, 0.1);
    transition: 1s;
    
  }

  .pricing-table .ribbon{
    position: absolute;
    right: 0;
    background: #242336;
    width: 60%;
    text-transform: uppercase;
    transform: translate(30%) translateY(0%) translateX(45deg);
  }

  .pricing-table h3{
    font-size: 38px;
    font-weight: normal;
    margin: 20px 0;
  }

  .pricing-table ul{
    line-height: 2;
    list-style-position: inside;

  }

  .pricing-table .price{
    font-size: 20px;
    margin-top: 15px;

  }

  .pricing-table .price span{
    font-size: 35px;
    font-weight: bold;

  }

  .pricing-table a{
    background: #242336;
    color: #fff;
    padding: 15px 25px ;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    margin-top: 15px;
  }
.pricing-table a:hover{
  background-color: #32324c;
}
@media screen and (min-width:600px) and (max-width:999px){

  .pricing-table{
    width:40%;

  }
  
}
@media screen and  (max-width:600px){

  .pricing-table{
    width:90%;

  }
  
}
.pricing-table:hover{
  box-shadow: #ccc;
}

